@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300i,400i");

.task {
	background: #e5e5e5;
	height: 20%;
	line-height: 4em;
	margin-top: 1em;
	margin-bottom: 0;
	width: auto;
	border-radius: 40px;	
	font-size: 130%
}

.selected {
	border: thick solid #e3520b;
}

p {
	color: #000000;
}

.flex_container {
	display: flex;
	height: 80%;
	flex-direction: horizontal;
}

.task_container {
	display: flex;
	flex-direction: column;
	overflow: auto;
	margin-left: 3%;
	padding: 3%;
	width: 30%;
    height: 28em;
	background: #E09C19;
	border-radius: 40px;	
}

.button_container{
	display: flex;
	flex-direction: column;
	margin-top: 10%;
	width: 70%;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: border-color 0.2s ease;
	-webkit-transition: border-color 0.2s ease;
	-ms-transition: border-color 0.2s ease;
	transition: border-color 0.2s ease;
	background: #FFFFFF;
	/*		background-color: transparent;*/
	border: solid 1px !important;
	border-color: rgba(255, 255, 255, 0.15) !important;
	border-radius: 3em;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: #E09C19 !important;
	cursor: pointer;
	display: block;
	font-size: 0.9em;
	font-weight: bold;
	height: calc(4.75em + 2px);
	letter-spacing: 0.20em;
	line-height: 4.75em;
	margin-left: auto;
	margin-right: auto;
	/* outline: 0; */
	/* padding: 0 3.75em; */
	position: relative;
	text-align: center;
	text-decoration: none;
	/*		text-transform: uppercase;*/
	white-space: nowrap;
	width: 20em;
}

.button.reschedule {
	margin-top: 10%;
	/* margin-bottom: 10%; */
}

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	/* margin-bottom: auto;
	margin-top: auto; */
	text-align: center;
}

body, input, select, textarea {
	color: rgba(0, 0, 0, 0.7);
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	color: rgba(0, 0, 0, 0.7);
	font-weight: bold;
	line-height: 1.5;
	margin: 0 0 0.5em 0;
}

h1 {
	font-size: 2.75em;
}

h2 {
	font-size: 2.75em;
}

h3 {
	font-size: 1.8em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 0.8em;
}

h6 {
	font-size: 0.6em;
}

.wrapper {
	position: relative;
}

.wrapper.fullscreen {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	min-height: 100vh;
}
	/* @media screen and (max-width: 1280px) {

		.wrapper.fullscreen {
			min-height: calc(100vh - 2.5em);
		}

			body.is-ie .wrapper.fullscreen {
				height: calc(100vh - 2.5em);
			}

	}

	@media screen and (max-width: 736px) {

		.wrapper.fullscreen {
			padding: 2em 0;
			min-height: 0;
		}

			body.is-ie .wrapper.fullscreen {
				height: auto;
			}

	} */

.wrapper.style2 {
	background-color: #e5e5e5;
}