{% load socialaccount %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Calendar</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/calendar.css" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Calendar Page -->
		<section id="calendar" class="wrapper style1 fullscreen fade-up">
			<h1>Your Schedule</h1>
            <div style="text-align:center">
                <h3>If calendar does not display, please activate "Make Available to Public" at your
                <a href="https://calendar.google.com/calendar/r/settings/">Google Calendar Settings</a></h3>
            </div>
			<div class="flex_container">
				<div class="calendar_container"> 
					<div class="responsive">
                        <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showDate=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffcc99&amp;src={{ user_email }}&amp;color=%231B887A&amp;ctz=America%2FLos_Angeles" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
					</div>
				</div>
				<div class="button_container">
					<a href="{% url 'schedule_view' %}" class="button">Schedule Goal</a>
					<a href="{% url 'reschedule_view' %}" class="button">Reschedule Task</a>
                    <a href="{% url 'homepage' %}" class="button">Back to Home</a>
				</div> 
			</div>
		</section>
	</body>
</html>