{% load socialaccount %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Calendar</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/calendar.css" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Calendar Page -->
		<section id="calendar" class="wrapper style1 fullscreen fade-up">
			<h1>your schedule</h1>
			<div style="text-align:center">
					<h3>if calendar does not display, please activate "Make Available to Public" in your
					<a href="https://calendar.google.com/calendar/r/settings/">google calendar settings</a></h3>
			</div>
			<a href="{% url 'homepage' %}" class="button smaller">back to home</a>
			<div class = 'outer_most_flex'>
			<div class="calendar_container background">
				<div class="calendar_container image"> 
					<div class="responsive">
                        <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showDate=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffcc99&amp;src={{ calendar_id }}&amp;color=%231B887A&amp;ctz=America%2FLos_Angeles" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
					</div>
				</div>
			</div>
				<div class="button_container">
					{% if event %}
					<h2>recently scheduled events</h2>
					<div class = 'text_container info_field'>
						<p>{{event.name}} was scheduled for {{event.frequency}} times per {{event.period}} with each session lasting {{event.duration}} {{event.timeunit}} in the {{event.timerange}}.</p>
					</div>
					{% endif %}
					{% if selected_events %}
					<h2>Recently Rescheduled Events</h2>
					<div class = 'text_container info_field'>
						{% for event in selected_events %}
						<p>{{event.0}} was rescheduled to {{event.1}} </p>
						{% endfor %}
					</div>
					{% endif %}
					<div class="icon major fa-clock-o"></div>
					<a href="{% url 'schedule_view' %}" class="button">schedule goal</a>
					<span class="icon major fa-redo"></span>
					<a href="{% url 'reschedule_view' %}" class="button">reschedule task</a>
		</div>
		</section>
	</body>
</html>