<!doctype html>
<html style="background-color: #60D6BE">
    <head>
        <title>Intention App</title>
    </head>
    <body>
        <h1>Intention App</h1>
        <p>{{ message }}</p>
        <form action="" method="POST"> {% csrf_token %}
                <p>
                    What do you want to accomplish? {{ form.name }}
                    Over what time period do you want to accomplish it? {{ form.period }}
                    How often do you want to do it during each time period? {{ form.frequency }}
                    How long do you want to devote during each session? {{form.duration}} {{ form.timeunit }}
                    What time of day do you generally want to do this? {{ form.timerange }}
                    What is your email? {{ form.user_email }}
                </p>
                <button type='submit'>Schedule!</button>
            </form>
        {% load static %}
        <img src="{% static "cozyco-logo.png" %}" />
        <iframe src="https://calendar.google.com/calendar/embed?title=Your%20Week&amp;showPrint=0&amp;showTz=0&amp;mode=WEEK&amp;height=800&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=abbyscheduler%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="400" height="400" frameborder="0" scrolling="no"></iframe>
    </body>
</html>