<!DOCTYPE HTML>
<html>  
    <head>
        <title>Reschedule</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="static/css/reschedule.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
        <script type="text/javascript" src="js/reschedule.js"></script>
        <noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
    </head>
    <body>
        <!-- Reschedule -->
        <section id="reschedule" class="wrapper fullscreen style2 fade-up">
            <h2>select tasks to reschedule</h2>
            <div class="flex_container">
                <div class="task_container"> 
                    <h3>Today's Tasks</h3>
                    {% for task in tasks %}
                    <div class="task"><p>{{task}}</p></div>
                    {% endfor %}
                </div>
                <div class="button_container">
                    <a href="#schedule_goal" class="button reschedule">later today</a>
                    <a href="#four" class="button reschedule">later this week</a> 
                </div> 
            </div>
        </section> 
        <script src="static/js/reschedule.js"></script>
    </body>
</html>
