<!DOCTYPE HTML>
<html>  
    <head>
        <title>Schedule</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="static/css/main.css" />
        <noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
    </head>
    <body>
        <!-- Schedule -->
        <section id="schedule_goal" class="wrapper fullscreen style3 fade-up">
            <div class="formstyle">
                    <h2 class="form_title">make an <strong>intentional</strong> goal.</h2>
                    <form method="POST"> {% csrf_token %}
                    {% load crispy_forms_tags %}
                    {% crispy form %}
                    <br>
                    <br>
                    <button class="form_button" type='submit'>schedule</button>
                </form>
            </div>	 
        </section> 
    </body>
</html>

   