{% load socialaccount %}

<!DOCTYPE HTML>
<html>  
    <head>
        <title>Scheduling Options</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <!-- <link rel="stylesheet" href="static/css/main.css" /> -->
        <link rel="stylesheet" href="static/css/scheduling_options.css" />
        <noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
    </head>
    <body>
        <section class="wrapper fullscreen style2 fade-up">
            <h2>Choose an Option</h2>
            <p>Schedule recurring time to work towards a goal or reschedule tasks from your existing calendar!</p>
            <div class="features">
                <section>
                    <div class="icon major fa-clock-o"></div>
                    <a href="{% url 'schedule_view' %}" class="button scrolly">Schedule Goal</a>
                </section>
                <section>
                    <span class="icon major fa-redo"></span>
                    <a href="{% url 'reschedule_view' %}" class="button scrolly">Reschedule Task</a>
                </section>
            </div>
        </section>
    </body>
</html>
