{% load socialaccount %}

<!DOCTYPE HTML>
<html>
    <head>
        <title>User Preferences</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="static/css/user_preferences.css" />
        <noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
    </head>
    <body>
        <section id="schedule_goal" class="wrapper fullscreen style3 fade-up">
            <div class="formstyle">
                <h1 class="form_title">{{ message }}</h1> 
                <a href="{% url 'homepage' %}" class="button smaller">Back to Home</a>

                <form method="POST"> {% csrf_token %}
                        {% load crispy_forms_tags %}
                        {% crispy time_form %}
                    <button type='submit'>Submit</button><br />
                </form>

                <form method="POST"> {% csrf_token %}
                        {% load crispy_forms_tags %}
                        {% crispy main_cal_form %} <br />
                        <button name = "main_cal" type='submit'>Submit</button><br />
                </form>

            </div>
        </section>
    </body>
</html>
