{% load socialaccount %}

<!DOCTYPE HTML>
<html>
    <head>
        <title>User Preferences</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="static/css/user_preferences.css" />
        <noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
    </head>
    <body>
        <section id="schedule_goal" class="wrapper fullscreen style3 fade-up">
            <div class="formstyle">
                    <a href="{% url 'scheduling_options_view' %}" class="button smaller">home</a>
                <div class = "heading">
                <h1 class="form_title">{{ message }}</h1> 
                </div>

                <form method="POST"> {% csrf_token %}
                        {% load crispy_forms_tags %}
                        {% crispy time_form %}
                    <button class="form_button" type='submit'>submit</button><br />
                </form>

                <form method="POST"> {% csrf_token %}
                        {% load crispy_forms_tags %}
                        {% crispy main_cal_form %} <br />
                        <button  class="form_button"  type='submit'>submit</button>
                </form>
                
                <form method="POST"> {% csrf_token %}
                    <div class = "checkboxes">
                        {{all_cals_form}}
                        <button class="form_button" type='submit'>submit</button><br />
                    </div>
                </form>

            </div>
        </section>
    </body>
</html>
