{% load socialaccount %}

<!DOCTYPE HTML>
<html>
    <head>
        <title>User Preferences</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="static/css/schedule.css" />
        <noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
    </head>
    <body>
        <section id="schedule_goal" class="wrapper fullscreen style3 fade-up">
            <div class="formstyle">
                <h1 class="form_title">Scheduling Preferences</h1>
                <form method="POST"> {% csrf_token %}
                    <h3>At what time do you typically go to sleep?</h3><br />
                        {{ sleep_form.time }}<br />
                        <button name = "sleep" type='submit'>Submit</button><br />
                </form>

                <form method="POST"> {% csrf_token %}
                    <h3>At what time do you typically wake up?</h3><br />
                        {{ wake_form.time }}<br />
                        <button name = "wake" type='submit'>Submit</button><br />
                </form>

                <h3>To which of your calendars should events be scheduled?</h3><br />

                <h3>Which of your calendars should have their events taken into account?</h3><br />

            </div>
            <a href="{% url 'homepage' %}" class="button scrolly">Back to Home</a><br />
        </section>
    </body>
</html>
